<div class="showpart">
    <div class="box-list" id="box-list">
        <!-- <div class="box" [ngClass]="{'active': selectedItem == type1item}"  *ngFor = "let menu of sideMenus; let i = index"  (click) = "listClicked(i,type1item)"> -->
            <div class="box" [ngClass]="{'active': selectedItem == menu.sideMenu}" *ngFor = "let menu of sideMenus"  >
              <div class="text-placeholder">
              <span class="text">{{menu.sideMenu}}</span>
          </div>
            <img src="assets/images/settings/LeftBTN.png" class="deactive-box" alt="left btn box"  draggable="false">
            <img src="assets/images/settings/LeftBTNSelect.png" class="selected-box" alt="left btn selected box"  draggable="false">
          </div>
    </div>
  </div>